<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.catherine.materialdesignapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!--network health-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" /> <!--content provider-->
    <uses-permission android:name="android.permission.READ_CALL_LOG" /> <!--content provider-->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" /> <!--content provider-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- THIS WORKS ON API 23+, open https://guarded-basin-12509.herokuapp.com to test app links  -->
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="guarded-basin-12509.herokuapp.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.UIComponentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LifecycleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AppComponentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.BackgroundActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AlbumDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".activities.UIComponentsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UIComponentsActivity" />
        </activity>

        <!--Services-->
        <service android:name=".services.MusicPlayerService">
            <intent-filter>
                <action android:name="com.catherine.materialdesignapp.startMusicPlayerService" />
            </intent-filter>
        </service>
        <service android:name=".services.NetworkHealthService">
            <intent-filter>
                <action android:name="com.catherine.materialdesignapp.startNetworkHealthService" />
            </intent-filter>
        </service>
        <!--Services-->

        <!--JobSchedulers-->
        <service
            android:name=".services.MusicPlayerJobScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.NetworkHealthJobScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--JobSchedulers-->

        <!--<receiver-->
        <!--android:name=".receivers.NotificationReceiver"-->
        <!--android:enabled="true">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.catherine.materialdesignapp.updateNotification" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

    </application>
</manifest>