<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.catherine.materialdesignapp.open_weather">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <dist:module
            dist:instant="false"
            dist:title="@string/title_open_weather">
        <dist:delivery>
            <dist:on-demand/>
        </dist:delivery>
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application>
        <activity android:name=".WeatherPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>


        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_api_key"/>



        <receiver android:name=".LocaleChangedReceiver"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>

